body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

header {
    background-color: #ff4500;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 2rem;
    text-align: center;
}

.burger-item {
    margin: 1rem 0;
}

button {
    background-color: #ff4500;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

button:hover {
    background-color: #ff5733;
}

footer {
    background-color: #343a40;
    color: white;
    padding: 1rem;
    text-align: center;
}
.card-img-top {
    width: 100%; /* Make sure the image takes up the full width of the card */
    height: 200px; /* Set a fixed height for the image */
    object-fit: cover; /* Ensures the image fits without distortion or overflow */
}
